.box {
  min-width: 300px;
  min-height: 300px;
  width: 75%;
  height: 75%;
}
.list {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(9, 9, 9, 0.5);
  min-height: 50px;
  z-index: 100;
  gap: 20px;
  padding: 10px 20px;
}
.item {
  color: #fff;
  display: flex;
  gap: 5px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: auto;
}
